$nav-height: 56px;
$page-height: calc(100vh - $nav-height);
$min-page-width: 1300px;

// colors
$color-off-white: #e6e6e3;
$color-white: white;
$color-gray-light: #4c4e52;
$color-gray-mid: #404145;
$color-gray-dark: #2e2e2e;
$color-red: red;
$color-orange: orange;
